node_modules
yarn.lock
wp-content/themes/test/package-lock.json
wp-content/themes/test/composer.lock
wp-content/themes/test/dist
wp-content/themes/test/vendor
wp-config.php
wp-config-sample-copy.php
.DS_Store